<div id="page-content">
<h2>Administrador</h2>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->

<div id="metanav">
<ul>
<li><a class="overlay-link" href="#adduser-overlay">A&ntilde;adir Usuario</a></li>
</ul>
</div>
<div id="adduser-overlay" class="simple-overlay">
<div class="overlay-content">
    <h3>A&ntilde;adir usuario</h3>
    <form action="/admin/" method="post">
    <input style="display:none" name="action" value="add" />
        <div id="add-user-username-div" class="form-field">
            <label for="username">Usuario</label>
            <input type="text" name="username" value="^username$" id="username"/>
        </div>
        <div id="add-user-password-div" class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div id="add-user-userroot" class="form-field">
            <label for="userRoot">Directorio de backups</label>
            <input type="text" name="userRoot" value="^userRoot$" id="userRoot"/>
        </div>
        <div id="add-user-isadmin" class="form-field">
             <!--StartIncludeIf:isAdmin--><input checked type="checkbox" name="isAdmin" /><!--EndIncludeIf:isAdmin-->
             <!--StartDeleteIf:isAdmin--><input type="checkbox" name="isAdmin" id="isAdmin"/><!--EndDeleteIf:isAdmin-->
             <label for="isAdmin">Es administrador</label>
        </div>
        <input type="submit" value="A&ntilde;adir Usuario" />
    </form>
</div>
</div>
    
<h3>Gestion de Usuarios</h3>
<table class="datatable">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Directorio de backups</th>
            <th>Es administrador</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<!--StartRepeat:users-->
    <tr>
        <td>^username$</td>
        <td>^userRoot$</td>
        <td>
            <!--StartIncludeIf:isAdmin-->Si<!--EndIncludeIf:isAdmin-->
            <!--StartDeleteIf:isAdmin-->No<!--EndDeleteIf:isAdmin-->
        </td>
        <td class="navitem">
            <a class="overlay-link" href="#edit-^username$">Editar</a>
            <div id="edit-^username$" class="simple-overlay">
                <div class="overlay-content">
                    <h3>Editar usuario ^username$</h3>
                    <form action="#" method="post">
                    <input style="display:none" name="action" value="edit" />
                    <input style="display:none" name="username" value="^username$" />
                    <div id="edit-^username$-userroot" class="form-field">
                       <label for="^username$-userRoot">Directorio de backups</label>
                       <input type="text" class="textInput" name="userRoot" value="^userRoot$" id="^username$-userRoot"/>
                    </div>
                    <div id="edit-^username$-isadmin" class="form-field">
                       <input StartIncludeIf:isAdmin-checkedEndIncludeIf:isAdmin- type="checkbox" name="isAdmin" id="^username$-isadmin"/>
                       <label for="^username$-isadmin">Es administrador</label>
                    </div>
                    <input type="submit" class="groupboxButton" value="Guardar" />
                    </form>
                </div>
            </div>
        </td>
        <td class="navitem">
            <a href="/admin/deleteUser?user=^username$" onClick="if(!confirm('Seguro que quieres eliminar al usuario ^username$?')) return(false);">Eliminar</a>
        </td>
    </tr>
<!--EndRepeat:users-->
    </tbody>
</table>
</div>
