<div id="page-content">
<h2>^title$</h2>
<table id="history" class="datatable sortable">
<thead>
   <tr>
      <th id="date" class="sortable">Fecha</th>
      <th id="size" class="sortable">Tama&ntilde;o</th>
      <th id="cumulativesize" class="sortable" title="FPara cada copia, hay un extra de memoria para guardar el historico">Total</th>
      <th id="result" class="sortable">Resultado</th>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:history-->
   <tr>
      <td class="icon history" data-value="^dateinseconds$">^date$</td>
      <td data-value="^sizeinbytes$">^size$</td>
      <td data-value="^cumulativesizeinbytes$">^cumulativesize$</td>
      <!--StartDeleteIf:errors-->
      <td class="BackupResult">
          <!--StartIncludeIf:inProgress-->En Progreso<!--EndIncludeIf:inProgress-->
          <!--StartDeleteIf:inProgress-->Finalizado<!--EndDeleteIf:inProgress-->
      </td>
      <!--EndDeleteIf:errors-->
      <!--StartIncludeIf:errors-->
      <td class="history-error">
         <a href="javascript:void 0">Mas...</a>
      </td>
   </tr>
   <tr class="multiline-error">
      <td colspan="4"><p class="mono">^multiline:errors$</p></td>
      <!--EndIncludeIf:errors-->
   </tr>
   <!--EndRepeat:history-->
</tbody>
</table>
</div>