<div id="page-content">
<h2>
	^title$
	<!--StartIncludeIf:feedLink-->
	<a href="^feedLink$"><img src="../static/images/feed-icon.png" alt="RSS Feed" style="vertical-align:middle;" /></a>
	<!--EndIncludeIf:feedLink-->
</h2>


<div id="metanav">
<ul>
<!--StartDeleteIf:isEntry-->
<!--StartIncludeIf:failuresOnly-->
<li><a href="?">Mostrar todos</a></li>
<!--EndIncludeIf:failuresOnly-->
<!--StartDeleteIf:failuresOnly-->
<li><a href="?failures=T">Solo mostrar errores</a></li>
<!--EndDeleteIf:failuresOnly-->
<!--EndDeleteIf:isEntry-->
</ul>
</div>

<!--StartDeleteIf:messages--><p>No hay copias recientess<!--StartDeleteIf:failuresOnly--> para mostrar<!--EndDeleteIf:failuresOnly--><!--StartIncludeIf:failuresOnly--> con errores<!--EndIncludeIf:failuresOnly-->.</p><!--EndDeleteIf:messages-->

<!--StartRepeat:messages-->
<!--StartIncludeIf:isSuccess--><h3 class="backupStatus_success"><a href="^link$">Copias completas en ^dateString$</a></h3>
<div>
<p>Las siguientes copias son correctas:</p>
<ul>
   <!--StartRepeat:backups-->
   <li><a class="statusRepoLink" href="^repoLink$">^displayDate$ - ^repo$ - ^size$</a></li>
   <!--EndRepeat:backups-->
</ul>
</div>
<!--EndIncludeIf:isSuccess-->

<!--StartDeleteIf:isSuccess--><h3 class="backupStatus_failure"><a href="^link$">Copias completas con errores: ^repo$</a></h3>
<div>
   <p>La copia de <strong>^repo$</strong> es <strong>^displayDate$</strong>
   fallo con los siguientes errores:</p>
   <p class="mono">^multiline:errors$</p>
   <p>Tama&ntilde;o: ^size$</p>
</div>
<!--EndDeleteIf:isSuccess-->
   <!--StartIncludeIf:repoErrors-->
   <p>Las siguientes carpetas tienen errores:</p>
   <ul>
      <!--StartRepeat:repoErrors-->
      <li><a class="statusRepoLink" href="^repoLink$">^repo$: ^multiline:error$</a></li>
      <!--EndRepeat:repoErrors-->
   </ul>
   <!--EndIncludeIf:repoErrors-->
<!--EndRepeat:messages-->
</div>