<div id="page-content">
<h2>Preferencias</h2>

<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->

<div id="change-password-div" class="section">
	<h3>Cambiar Password</h3>
	<form action="#" method="post">
		<input style="display:none" name="form" value="setPassword"/>
		<div id="current-div" class="form-field">
		    <label for="current">Password Actual</label>
		    <input class="textInput" type="password" name="current" id="current"/>
		</div>
		<div id="new-div" class="form-field">
		    <label for="new">Nuevo password</label>
		    <input class="textInput" type="password" name="new" id="new"/>
		</div>
		<div id="confirm-div" class="form-field">
		    <label for="confirm">Confirma el nuevo password</label>
		    <input class="textInput" type="password" name="confirm" id="confirm"/>
		</div>
	    <input type="submit" value="Cambiar Password" />
	</form>
</div>

<div id="update-repos-div" class="section">
	<h3>Actualiza copias</h3>
	<p>Actualiza las carpetas de copias</p>
	<form action="#" method="post">
		<input style="display:none" name="form" value="updateRepos"/>
		<input type="submit" value="Actualizar" />
	</form>
</div>

<div id="restore-pref-div" class="section">
	<h3>Formato de restauracion</h3>
	<p>Selecciona el formato de restauracion de carpeta.</p>
	<form action="#" method="post">
		<input style="display:none" name="form" value="setRestoreType"/>
		<div id="restore-type-zip">
			<input type="radio" name="restoreType" StartIncludeIf:useZipFormat-checked='checked'EndIncludeIf:useZipFormat- value="zip" id="zip" />
			<label for="zip">Restaura mis carpetas como <b>.zip</b></label>
		</div>
		<div id="restore-type-tgz">
			<input type="radio" name="restoreType" StartDeleteIf:useZipFormat-checked='checked'EndDeleteIf:useZipFormat- value="tgz" id="tgz" />
			<label for="tgz">Restaura mis carpetas como <b>.tar.gz</b></label>
		</div>
		<p>Si no estas seguro, selecciona zip.</p>
		<input type="submit" value="Actualizar" />
	</form>
</div>

<!--StartIncludeIf:notificationsEnabled-->
<form action="#" method="post">
<input style="display:none" name="form" value="setNotifications"/>
<div class="groupboxDiv">
<div>
   <h3 class="groupboxHeader">Notificationes</h3>
   <table class="emailTable">
      <tr>
         <td>Avisadme en</td>
         <td><input id="userEmail" class="textInput" name="userEmail" value="^userEmail$"></td>
         <td align="left">
            cuandos mis backups no se ejecuten correctamente:
         </td>
      </tr>
   </table>
   <table class="notificationsTable">
      <tr></tr>
      <!--StartRepeat:backups-->
      <tr class="notificationsRow">
         <td>^backupName$ : </td>
         <td>
            <select name="^backupName$numDays" id="^backupName$Select">
               <!--StartRepeat:notifyOptions-->
               <option ^selectedStr$>^optionStr$</option>
               <!--EndRepeat:notifyOptions-->
            </select>
         </td>
      </tr>
      <!--EndRepeat:backups-->
      <tr style="height: 2em">
         <td><input type="submit" class="groupboxButton" value="Actualizar Notificaciones" /></td>
      </tr>
   </table>
</div>
</div>
</form>
<script type="text/javascript">
   var sExampleEmail = '^sampleEmail$';
   var oUserEmailElem = document.getElementById('userEmail');
   fnOnBlur = function()
   {
      if (oUserEmailElem.value === '')
      {
         oUserEmailElem.style.color = '#AAA';
         oUserEmailElem.value = sExampleEmail;
      }
   }
   oUserEmailElem.onfocus = function()
   {
      if (oUserEmailElem.value === sExampleEmail)
      {
         oUserEmailElem.value = '';
         oUserEmailElem.style.color = '#000';
      }
   }
   oUserEmailElem.onblur = fnOnBlur;
   fnOnBlur();
</script>
<!--EndIncludeIf:notificationsEnabled-->
</div>